
# Ignore artifacts:
build
coverage
node_modules

# Ignore all HTML files:
src/**/*.html
index.html

# All .*ignore files
.*ignore

# Ignore specific files:
# src/ignored-file.js

# Ignore all files in a directory:
# src/ignored-directory/
